<p id="notice"><%= notice %></p>

<h1>Contenders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tournament</th>
      <th>Deck</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contenders.each do |contender| %>
      <tr>
        <td><%= contender.user_id %></td>
        <td><%= contender.tournament_id %></td>
        <td><%= contender.deck_id %></td>
        <td><%= contender.points %></td>
        <td><%= link_to 'Show', contender %></td>
        <td><%= link_to 'Edit', edit_contender_path(contender) %></td>
        <td><%= link_to 'Destroy', contender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contender', new_contender_path %>
