<p id="notice"><%= notice %></p>

<h1>Tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.Name %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
<br><br>
<% cards = MTG::Card.where(set: 'MM3').where(subtypes: 'Beast').all %>
    <% cards.each do |c| %>
      <%= link_to ('http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=' + c.multiverse_id.to_s) do %>
        <%= image_tag c.image_url %>
          <% end %>    
    <% end %>
