<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.Name %>
</p>

<h2>Round <%= @round %> Results</h2>

<% (0..3).each do |this| %>
  <%= User.find(Contender.find(@pairings[this].Contender1).user_id).Name %> vs
  <%= User.find(Contender.find(@pairings[this].Contender2).user_id).Name %> :
  <%= @pairings[this].Result %><br><br>
  
<% end %>

<% if @round.to_i < 3 %>
  <%= link_to 'Next Round', tournaments_getpairings_url(round: (@round.to_i + 1), id: @tournament.id) %>
<% else %>
  <%= link_to 'Final Results', tournaments_finalresults_url(id: @tournament.id) %>
<% end %>