<p id="notice"><%= notice %></p>

<h1>Pairings</h1>

<table>
  <thead>
    <tr>
      <th>Contender1</th>
      <th>Contender2</th>
      <th>Tournament</th>
      <th>Result</th>
      <th>Roundnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pairings.each do |pairing| %>
      <tr>
        <td><%= pairing.Contender1 %></td>
        <td><%= pairing.Contender2 %></td>
        <td><%= pairing.tournament_id %></td>
        <td><%= pairing.Result %></td>
        <td><%= pairing.RoundNumber %></td>
        <td><%= link_to 'Show', pairing %></td>
        <td><%= link_to 'Edit', edit_pairing_path(pairing) %></td>
        <td><%= link_to 'Destroy', pairing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pairing', new_pairing_path %>
