<!DOCTYPE html>
<html>
  <head>
    <title>Magic The Gathering Tournament Organizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'font-awesome.css' %>
    <%= stylesheet_link_tag 'prettyPhoto.css' %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'bootstrap-responsive' %>
    <%= stylesheet_link_tag 'dark.css' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    <link href='http://fonts.googleapis.com/css?family=Lato|Fjalla+One' rel='stylesheet' type='text/css'>
    

  </head>

  <body>
  	<%= render 'bars/top' %>

    <%= yield %>
    
  </body>
</html>
